
/* Header/logo Title */
.header {
    text-align: center;
    background-image: url(Images/BlackBoard.webp);
    background-size: 50%;
    color: white;
    overflow: hidden;
    width: 100%;
  }

/* CUERPO DE LA PÁGINA
/*
/* Determina el estilo del cuerpo principal de la página web*/
body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #1abc9c*/
    background-color: #4ea7de;
    /*background-color:#b4b0f5;*/
    margin: 0;
  }

/* BARRA DE NAVEGACIÓN
/*
/* Barra de navegación */
/* Determina el estilo del bloque (topbar), fondo negro */
.topbar {
  overflow: hidden;
  /* Overflow determina el comportamiento cuando el texto no cabe, hidden hace que se corte el texto */
  background-color: white;
  width: 100%;
}

/* Determina el estilo de los bloques en los enlaces */
.topbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 1.5% 1.5%;
  text-decoration: none;
  font-size: 15px;
}

/* Determina el estilo de los enlaces al pasar por ellos*/
.topbar a:hover {
  background-color: white;
  color: #ccc;
}

/*Crea la clase "a.active" que simula cuando un enlace está activo*/
.topbar a.active {
  background-color: black;
  color: #ccc;
}

.topbar-right{
  float: right;
}

/* ESTILO DEL "PERSONAL INFORMAFION"*/ 
.PersonalInfo{
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    margin-top: 5%;
    width: 90%;
    column-gap: 10%;
    color: black;
}

/* ESTILO DEL "PUBLICATIONS"*/
.Publications{
  margin:0 auto;
  margin-top: 5%;
  width: 90%;
}

/*ESTILO DEL ACORDEÓN*/
.accordion-header {
  background-color: #16a085;
  color: black;
  cursor: pointer;
  padding: 14px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: 1px solid black;
}

.accordion-header:hover {
  background-color: #16a085;
  color: #ccc;
}

.accordion-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #1abc9c;
}

.accordion-content ul {
  list-style: disc;
  margin: 10px 0;
  padding-left: 20px;
}



